$primary: black;
$info: #808080;
$link: black;
$modal-content-width: 40%;
$dimensions: 128 400;
// $body-background-color: #E8E8E8;

$black: hsl(0, 0%, 4%);
$scheme-invert: $black;
$box-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
$card-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0px 0 1px rgba($scheme-invert, 0.02);
